@use "../foundation/variables.scss" as *;
@use "../foundation/mixin.scss" as *;
@use "sass:math";

html {
	width: 100vw;
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-y: auto;
	// font-family: 'Noto Sans JP', sans-serif;
    font-family: $ff-noto;
    font-weight: $fw-bold;
    letter-spacing: 0.1rem;
	font-weight: 400;
}
body{
    width: 100vw;
	height: 100%;
    background-color: $cBg!important;
}
body::-webkit-scrollbar{
	display: none;
}
::placeholder{
    color: $cGray;
    opacity: 0.4;
}

.all-wrap{
    display: flex;
}
.main{
    width: math.div(1000,1280) * 100vw;
    margin-left: 26.5rem;
    &__link-block{
        margin-top: 3rem;
        margin-left: 1.5rem;
        display: flex;
        font-size: 1.4rem;
        font-weight: $fw-bold;
        letter-spacing: 0.1rem;
        &__tags{
            display: flex;
            gap: 0.43rem;
        }
        &__item{
            position: relative;
            width: 13rem;
            height: 4.5rem;
            .link{
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                opacity: 0.6;
                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    white-space: nowrap;
                }
            }
            .active{
                color: white!important;
                opacity: 1;
            }
        }
    }
    &__white-board{
        width: 100%;
        height: math.div(710,800) * 100vh;
        border-radius: 10px;
        background-color: white;
    }
    .--profile{
        margin-top: 4rem;
        &__inner{
            height: math.div(700,800) * 100vh;
            padding: 1.5rem 0;
            position: relative;
            overflow-y: scroll;
            box-sizing: border-box;
        }
    }

}
