@use "../foundation/variables.scss" as *;
@use "../foundation/mixin.scss" as *;
@use "sass:math";
.--charter-board{
    // height: auto;
}
.invoice{
    height: 100%;
    position: relative;
    overflow-y: scroll;
    &__charter{
        margin-left: 20px;
        padding-top: 3rem;
        .warning-txt{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin-top: 3rem;
            font-size: 1.3rem;
            font-weight: $fw-bold;
        }
        .select-area{
            display: flex;
            align-items: center;
            &__block{
                display: flex;
                gap: 1rem;
                align-items: end;
                select{
                    padding-left: 0;
                    text-align-last: center;
                }
                .year-select{
                    width: 9rem;
                }
                .month-select{
                    width: 6rem;
                }
                .name-select{
                    width: 22rem;
                }
            }
            .month-block{
                margin-left: 3rem;
            }
            .name-block{
                margin-left: 5rem;
            }
            .search-btn{
                width: 7.4rem;
                margin-left: 5rem;
                border-radius: 2px solid $cGreen;
                p{
                    white-space: nowrap;
                    font-size: 1rem;
                    font-weight: $fw-bold;
                    letter-spacing: 0.1rem;
                    color: $cGreen;
                }
            }
            label{
                font-size: 1.4rem;
                font-weight: $fw-bold;
                letter-spacing: 0.1rem;
                color: $cBlack;
            }
        }
        .narrow-modal{
            display: none;
            position: fixed;
            z-index: 10000;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            &__bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.5;
            }
            &__white-board{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: math.div(700,1280) * 100vw;
                padding: 5rem;
                border-radius: 1.5rem;
                background-color: white;
                .title{
                    width: fit-content;
                    margin: 0 auto;
                    font-size: 2rem;
                    font-weight: $fw-bold;
                    letter-spacing: 0.1rem;
                    color: $cBlack;
                }
                .client-wrap{
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: 3rem;
                    display: flex;
                    align-items: center;
                    gap: 3rem;
                    flex-wrap: wrap;
                    &__item{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        font-size: 1.4rem;
                        font-weight: $fw-bold;
                        color: $cBlack;
                    }
                }
                .btn-area{
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: 3rem;
                    display: flex;
                    align-items: center;
                    gap: 4rem;
                    .narrow-btn{
                        width: 9rem;
                    }
                }
            }
        }
        .charter-top-btn-area{
            margin-top: 3rem;
            display: flex;
            align-items: center;
            gap: 3rem;
            .setting-btn{
                width: 5rem;
                height: 4.5rem;
                border: 2px solid #ACACAC;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: .1rem;
                color: #acacac;
                cursor: pointer;
                transition: .5s;
            }
            .setting-btn:hover{
                background-color: #ACACAC;
                color: white;
            }
        }
        .calendar-pdf-button{
            width: 15rem;
            height: 4.5rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: $fw-bold;
            letter-spacing: 0.1rem;
        }
        .charter-calender-wrap{
            width: 98%;
            margin-top: 30px;
            // padding: 50px;
            border-radius: 10px;
            background-color: white;
            &__scroll{
                width: 100%;
                position: relative;
                overflow: scroll;
                height: math.div(490,800) * 100vh;
            }
            &__charter-calender{
                width: 100%;
                margin-top: 3rem;
                font-size: 1.4rem;
                font-weight: $fw-regular;
                .head{
                    width: 99.9%;
                    display: flex;
                    border-top: 1px solid $cBlack;
                    border-right: 1px solid $cBlack;
                    &__clm{
                        position: relative;
                        height: 50px;
                        font-size: 14px;
                        border-left: 1px solid $cBlack;
                        // white-space: nowrap;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p{
                            // position: absolute;
                            // top: 50%;
                            // left: 50%;
                            // transform: translate(-50%,-50%);
                        }
                    }
                }
                .data{
                    width: 99.9%;
                    border-bottom: 1px solid $cBlack;
                    .unregister-message{
                        padding: 2rem 0;
                        border-top: 2px solid black;
                        font-size: 1.4rem;
                        font-weight: $fw-bold;
                    }
                    &__row{
                        position: relative;
                        width: 100%;
                        display: flex;
                        border-top: 1px solid $cBlack;
                        border-right: 1px solid $cBlack;
                        &__clm{
                            position: relative;
                            height: 30px;
                            font-size: 14px;
                            border-left: 1px solid $cBlack;
                            cursor: pointer;
                            p{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                            .charter-input{
                                height: 100%;
                                border-radius: 0px!important;
                                // text-align: center;
                                // padding: 0;
                                border: 0px!important;
                                font-size: 1.4rem;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .--date{
                    width: 10.4%;
                    white-space: nowrap;
                }
                .--project{
                    width: 20.8%;
                    input{
                        width: 100%;
                        padding-left: 1rem;
                        box-sizing: border-box;
                        text-align: left!important;
                    }
                }
                .--common{
                    width: 15.1%;
                }
                .--common-amount{
                    width: 9.3%;
                }
                .--text-right{
                    input{
                        text-align: right;
                        padding-right: 1rem;
                        box-sizing: border-box;
                    }
                }
                .--text-center{
                    input{
                        text-align: center;
                    }
                }
                .--unregister-data{
                    margin-top: 30px;
                }
            }
        }
        .client-modal{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            font-size: 1.2rem;
            &__bg{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.2;
            }
            &__main{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 700px;
                height: 350px;
                border-radius: 10px;
                background-color: white;
                &__inner{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: fit-content;
                    .checkbox-area{
                        width: fit-content;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        &__block{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                    label{
                        font-size: 1.5rem;
                        font-weight: $fw-bold;
                    }
                    .action-area{
                        width: fit-content;
                        margin: 0 auto;
                        margin-top: 20px;
                    }
                    .input-area{
                        display: none;
                        letter-spacing: 0.1rem;
                        font-size: 15px;
                        flex-direction: column;
                        gap: 10px;
                        &__item{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            input{
                                width: 300px;
                            }
                        }
                    }
                    .button-area{
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin: 0 auto;
                        margin-top: 20px;
                        .client-modal-btn{
                            display: block;
                        }
                        .back-btn{

                        }
                    }
                }
            }
        }
        .shift-delete-modal{
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            &__bg{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.5;
            }
            &__white-board{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: math.div(700,1280) * 100vw;
                // height: math.div(500,800) * 100vh;
                padding: 5rem;
                border-radius: 1.5rem;
                background-color: white;
                &__inner{
                    width: math.div(600,1280) * 100vw;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    font-weight: $fw-bold;
                    letter-spacing: 0.1rem;
                    color: $cBlack;
                    .title{
                        width: fit-content;
                        margin: 0 auto;
                        font-size: 2.6rem;
                    }
                    .shift-info-wrap{
                        width: fit-content;
                        margin: 0 auto;
                        margin-top: 2rem;
                    }
                    .shift-info-box{
                        margin-top: 3rem;
                        display: flex;
                        align-items: center;
                        gap: 4rem;
                        font-size: 1.8rem;
                        .head{
                            width: 12rem;
                        }
                    }
                    .select-project{
                        margin-top: 3rem;
                        display: flex;
                        gap: 4rem;
                        .head{
                            margin-top: 3.5rem;
                            font-size: 1.8rem;
                            width: 12rem;
                        }
                        &__right-box{
                            display: flex;
                            flex-direction: column;
                            gap: 0.8rem;
                            select{
                                display: none;
                            }
                        }
                        &__radio-wrap{
                            display: flex;
                            gap: 2rem;
                            .item{
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                label{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                    .button-wrap{
                        width: fit-content;
                        margin: 0 auto;
                        margin-top: 4rem;
                        display: flex;
                        align-items: center;
                        gap: 3rem;
                        .--save{
                            width: 9rem;
                            border: 2px solid $cBlue02;
                            color: $cBlue02;
                            transition: 0.5s;
                        }
                        .--save:hover{
                            background-color: $cBlue02;
                            color: white;
                        }
                        .--delete{
                            width: 9rem;
                            margin: 0;
                            height: 4.5rem;
                            border: 2px solid $cRed;
                            color: $cRed;
                        }
                        .--delete:hover{
                            color: white;
                            background-color: $cRed;
                        }
                        .--back{

                        }
                    }
                }
            }
        }
        .shift-driver-modal{
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            &__bg{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.5;
            }
            &__white-board{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: math.div(700,1280) * 100vw;
                // height: math.div(500,800) * 100vh;
                padding: 5rem;
                border-radius: 1.5rem;
                background-color: white;
                &__inner{
                    width: math.div(600,1280) * 100vw;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    font-weight: $fw-bold;
                    letter-spacing: 0.1rem;
                    color: $cBlack;
                    .title{
                        width: fit-content;
                        margin: 0 auto;
                        font-size: 2.6rem;
                    }
                    .shift-info-wrap{
                        width: fit-content;
                        margin: 0 auto;
                        margin-top: 2rem;
                    }
                    .shift-info-box{
                        margin-top: 3rem;
                        display: flex;
                        align-items: center;
                        gap: 4rem;
                        font-size: 1.8rem;
                        .head{
                            width: 12rem;
                            flex-shrink: 0;
                        }
                    }
                    .button-wrap{
                        width: fit-content;
                        margin: 0 auto;
                        margin-top: 4rem;
                        display: flex;
                        align-items: center;
                        gap: 3rem;
                        .--save{
                            width: 9rem;
                            border: 2px solid $cBlue02;
                            color: $cBlue02;
                            transition: 0.5s;
                        }
                        .--save:hover{
                            background-color: $cBlue02;
                            color: white;
                        }
                        .--delete{
                            width: 9rem;
                            margin: 0;
                            height: 4.5rem;
                            border: 2px solid $cRed;
                            color: $cRed;
                        }
                        .--delete:hover{
                            color: white;
                            background-color: $cRed;
                        }
                        .--back{

                        }
                    }
                }
            }
        }
        .project-unregister-modal{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100000;
            width: 100vw;
            height: 100vh;
            &__bg{
                display: block;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0.5;
            }
            &__white-board{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: math.div(700,1280) * 100vw;
                // height: math.div(500,800) * 100vh;
                padding: 5rem;
                border-radius: 1.5rem;
                background-color: white;
                &__inner{
                    display: flex;
                    flex-direction: column;
                    gap: 5rem;
                    .title{
                        width: fit-content;
                        margin: 0 auto;
                        font-size: 2.5rem;
                        font-weight: $fw-bold;
                    }
                    .unregister-warning-txt{
                        display: none;
                        width: fit-content;
                        margin: 0 auto;
                        font-size: 1.8rem;
                        font-weight: $fw-bold;
                        color: $cRed;
                    }
                    .project-name-area{
                        width: fit-content;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        font-size: 2rem;
                        font-weight: $fw-bold;
                    }
                    .button-area{
                        width: fit-content;
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        .delete-btn{
                            width: 12rem;
                        }
                    }
                }
            }
        }
    }
}
