@use "../foundation/variables.scss" as *;
@use "../foundation/mixin.scss" as *;
@use "sass:math";

.--invoice-white-board{
    .project-invoice-shift{
        .project-calendar-wrap{
            position: relative;
            overflow: scroll;
            width: math.div(980,1280) * 100vw;
            &__table{
                width: 200%;
                table-layout:auto;
                thead{
                    tr{
                        height: 4rem;
                    }
                }
                tbody{
                    tr{
                        height: 5rem;
                        td{
                            
                        }
                    }
                }
                .project-table-date{
                    width: 8rem;
                }
                .project-table-w-name{
                    width: 8rem;
                }
                .project-table-w-amount{
                    width: 5rem;
                }
            }
        }
    }
}
